.header {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 0;
}

.header h1{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0;
}

.header div {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: #fff;
    text-align: left;
    margin: 0;
}
@media screen and (min-width: 499px){
    .header {
        display: flex;
        flex-direction: row;
    }
    .header h1 {
        font-size: 2rem;
    }
    .header div {
        font-size: 1rem;
    }
}